<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Virhetapahtuma</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

		<div class="outer">
			<div class="content">

				<h2>PELITIETOKANTA</h2>
<br><br>
				Hupsis... pieleen meni<br>
				<br>
				<a href="/login">KIRJAUDU</a><br>
				<br>
				<br> <input type="button" value="Palaa takaisin"
					onclick="history.back()">
			</div>
		</div>

</body>
</html>