<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pelit</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>   	
		<div class="outer">
			<div class="content">


				<h2>
					PELITIETOKANTA
				</h2>

<br><br>
    <table class="table table-striped">
        <tr>
            <th>Pelin nimi</th>
            <th>Pelialusta</th>
            <th>Median tyyppi</th>
            <th>Vuosi</th>
            <th>Lisätietoja</th>
        </tr>
        <tr th:each = "peli: ${pelit}">
            <td th:text="${peli.nimi}"></td>
            <td th:text="${peli.alusta}"></td>
            <td th:text="${peli.formaatti}"></td>
            <td th:text="${peli.vuosi}"></td>
            <td th:text="${peli.info}"></td>
        </tr>
    </table>
    <br><br><a href="/login">Palaa takaisin kirjautumiseen</a>
</div></div></body>
</html>