html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}


body {
	background-color: #C0C0FF;
	background-image: url('http://myy.haaga-helia.fi/~bgm777/upk2YM.jpg');
	background-repeat: repeat;
	margin:5 auto; 
	max-width: 1120px;
	display:flex;
	flex-direction:column; 
	justify-content:center;
  	min-height:100vh;
}

.content {
  width: 1100px;
  margin: auto;
  vertical-align: middle;
}

.outer {
	width: 1110px;
	margin: auto;
	border: 3px solid gray;
	padding: 5px;
	margin: 1px;
	vertical-align: middle;
}

.inner {
	width: 200px;
	margin: auto;
}

div {
	background-color: white;
	width: 450px;
	border: 1px white;
	padding: 5px;
	margin: 8px;
	vertical-align: middle;
}

.popup {
	position: relative;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	max-width: 100%;
	margin: auto;
}

.popup .popuptext {
	visibility: hidden;
	width: 400px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 40%;
	margin-left: -185px;
}

.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 55%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table td, table th {
	border: 1px solid #000000;
	padding: 6px;
}

table tbody tr:nth-child(even) {
	background-color: #FFFFFF;
}

table tbody tr:hover {
	background-color: #C0C0C0;
}

table th {
	font-size: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	background-color: #C0C0C0;
	color: white;
}

.muuta {
	color: green;
	text-decoration: none;
	cursor: pointer;
	font-size: 15px;
}

.listaa {
	color: green;
	text-decoration: none;
	cursor: pointer;
	font-size: 30px;
	vertical-align: middle;
	width: 100%;
}

.poista {
	color: red;
	text-decoration: none;
	cursor: pointer;
	font-size: 15px;
}

.muokkaa {
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-size: 15px;
}


.valitse {
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
}

.linkki {
	color: #C05A1F;
	text-decoration: none;
	cursor: hand;
	font-size: 20px;
}


h2 {
	color: #E36822;
	font-size: 30px;
	text-decoration: underline;
	position: relative;
	max-width: 20%;
	margin: auto;
}